@use "./variables";
@use "./typography";
@use "./mixins";
@use "./reset";


body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--color-neutral-900);
  direction: rtl;
  font-family: var(--font-family);
}

#app {
  min-height: 100vh;
  background-color: var(--color-background);
  color: var(--color-neutral-900);
  direction: rtl;
  font-family: var(--font-family);
}   